footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  color: #888;
  border-top: 1px solid #eee;
  background-color: #fff;
}
footer p {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.sub {
  font-size: 0.7rem;
  font-weight: normal;
  margin-top: 5px;
}
