<header [style.backgroundImage]="backgroundStyle">
  <button class="menu-toggle" (click)="toggleMenu.emit()">☰</button>

  <h1>{{ tripService.currentTrip()?.headerTitle }}</h1>
  <div class="tagline">
    <span>{{ tripService.currentTrip()?.headerSubtitle }}</span>
  </div>

  <div id="countdown-box">
    <p>{{ tripService.currentTrip()?.countdownLabel }}</p>

    <div class="timer">
      <div>
        <span>{{ timeLeft.days }}</span
        ><small>DAYS</small>
      </div>
      <div>
        <span>{{ timeLeft.hours }}</span
        ><small>HRS</small>
      </div>
      <div>
        <span>{{ timeLeft.mins }}</span
        ><small>MINS</small>
      </div>
      <div>
        <span>{{ timeLeft.secs }}</span
        ><small>SECS</small>
      </div>
    </div>
  </div>
</header>

<div class="nav-container">
  <div class="nav-wrapper">
    <a
      [routerLink]="['/trip', tripService.currentTripId()]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tab-btn"
    >
      <span>HOME</span>
    </a>

    <a
      *ngFor="let day of tripService.currentTrip()?.days"
      [routerLink]="['/trip', tripService.currentTripId(), 'day', day.id]"
      routerLinkActive="active"
      class="tab-btn"
    >
      <span>DAY {{ day.id }}</span>
    </a>

    <a
      [routerLink]="['/trip', tripService.currentTripId(), 'gear']"
      routerLinkActive="active"
      class="tab-btn"
    >
      <span>GEAR</span>
    </a>

    <a
      [routerLink]="['/trip', tripService.currentTripId(), 'notes']"
      routerLinkActive="active"
      class="tab-btn"
    >
      <span>NOTES</span>
    </a>
  </div>
</div>
